@use "./variables";

// .aboutCommunity CSS 

.aboutCommunity {
    background: variables.$tertiary;
    padding: 125px 0 0 0;


    .communityWrapper {
        width: calc(100% * (2 / 3));
        margin: 0 auto;
    }
}

// Vacation Days CSS

.vacationDays {
    align-items: center;
    display: flex;
    flex-direction: column;

    h4 {
        padding-bottom: 20px;
    }
}

// Banner Image CSS

.aboutBannerImage {
    width: 100%;
    padding: 100px 0;

    img {
        width: 100%;
        margin: 0 auto;
    }
}

// Trip of Lifetime CSS

.tripLifeTimeWrapper {
    width: 80%;
    margin: 0 auto;
}


.tripLifetime {
    background: variables.$tertiary;
    display: flex;
    margin-bottom: 100px;

    .tripLifetimeImg {
        width: 25%;

        img {
            box-shadow: -15px 15px 1px variables.$primary;
        }
    }

    .tripLifetimeText {
        width: 75%;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

}

// Image Gallery

.aboutImageGallery {
    background: variables.$secondary;

    .galleryWrapper {
        width: 80%;
        margin: 0 auto;
    }

    .galleryFlex {
        display: flex;

        li:nth-child(2) {
            margin: 75px 30px;
        }

        li {
            margin: 75px 0;
        }
    }
}