@use "./variables";

.aboutProgramLocations {
    background: variables.$secondary;
    padding: 0;
    width: 100%;


}

.aboutWrapper {
    width: 50%;
    // border: 5px solid hotpink;
}


// .ourProgram li {
//     width: 50%;
//     display: flex;
//     flex-direction: column;

// }


.ourProgram {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.newLocations {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.ourProgramText {
    // padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 100px 0 50px;
    margin: 150px 0;

    p {
        text-align: justify;
    }

    // margin: 0 auto;
    // padding: 0 auto;

}

.newLocationsText {
    // padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    padding: 0 50px 0 100px;
    margin: 150px 0;

    // margin: 0 auto;
    // padding: 0 auto;
    p {
        text-align: justify;
    }
}

.topImage {
    // padding-right: 50px;
    // border: 5px solid green;
    width: 50%;
    position: relative;

    // margin: 0 auto;
    // padding: 0 auto;
    img {
        box-shadow: 15px 15px 1px variables.$primary;
        position: absolute;
        bottom: 69px;
    }
}

.bottomImage {
    // padding-left: 50px;
    // border: 5px solid pink;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;

    // margin: 0 auto;
    // padding: 0 auto;

    img {
        box-shadow: -15px 15px 1px variables.$primary;
        position: absolute;
        top: 69px;
    }
}


// .newLocations li {
//     width: 50%;
//     display: flex;
//     flex-direction: column;

// }




button {
    border: none;
    width: fit-content;
    margin-top: 20px;
}