@use "./variables";

// .aboutCommunity CSS 

.aboutCommunity {
    background: variables.$tertiary;
    padding: 125px 0 50px 0;


    .communityWrapper {
        width: calc(100% * (2 / 3));
        margin: 0 auto;
    }
}

// Vacation Days CSS

.vacationDays {
    align-items: center;
    display: flex;
    flex-direction: column;

}

// Banner Image CSS

.aboutBannerImage {
    width: 100%;
    padding: 100px 0;

    img {
        width: 100%;
        margin: 0 auto;
    }
}

// Trip of Lifetime CSS

.tripLifeTimeWrapper {
    width: 80%;
    margin: 0 auto;
}


.tripLifetime {
    background: variables.$tertiary;
    display: flex;

    .tripLifetimeImg {
        width: 25%;

        img {
            box-shadow: -15px 15px 1px variables.$primary;
        }
    }

    .tripLifetimeText {
        width: 75%;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

}