@use "./variables";

.formInputFlex {
    display: flex;
    width: 100%;


    .inputFlex {
        display: flex;
        flex-direction: column;

        input {
            border-bottom: 2px solid variables.$primary;

        }
    }
}



textarea {
    border: 2px solid variables.$primary;
}