@use "./variables";

.mainBlogComments {
    display: flex;
    background: variables.$tertiary;
    flex-direction: column;
    align-items: end;
    padding: 0;

    h3 {
        padding-bottom: 20px;
        color: variables.$secondary;

    }
}

.blogWrapper {
    width: 64.5%;
    padding: 50px 75px;

}

.blogPost {
    display: flex;
    padding-bottom: 100px;

    img {
        padding-right: 15px;
    }

    h4 {
        text-transform: none;
        color: variables.$secondary;
    }
}

.blogTextWrapper {
    width: 95%;

    h4 {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    p {
        padding-left: 10px;
    }
}