@use "./variables";


.contactForm {
    width: 60%;
    padding: 40px;
    position: absolute;
    top: -115px;
    right: 5%;
    background: variables.$secondary;

    label {
        color: variables.$white;
    }

    textarea {
        background: variables.$secondary;
        color: variables.$white;
    }
}

.contactInput {
    border: 0;
    padding-left: 20px;
    background: variables.$secondary;
    border-bottom: 2px solid variables.$primary;
    color: variables.$white;
}

.formContact {
    height: 200px;
    padding-top: 30px;
    padding-left: 20px;
}