@use "./variables";

.myFormContact {
    position: absolute;
    top: -115px;
    right: 273px;
    background: variables.$secondary;
}

.formContact {
    background: variables.$secondary;

}

.contactInput {
    background: variables.$secondary;
}