@use "./variables";

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

header {
    background-repeat: no-repeat;
    height: 114vh;
    background-size: cover;
    background-position: top;
    position: relative;
}

// NAV STYLES

.navListFlex {
    width: 100%;
    height: auto;

    .navWrapper {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: space-between;

        nav ul {
            display: flex;
            justify-content: space-between;

            a {
                color: variables.$white;
                font-family: 'Roboto', sans-serif;
                font-size: 1.7rem;
                font-weight: 700;
                line-height: 29px;
                letter-spacing: 1px;

            }
        }

    }
}
.bigHeader {
    text-align: center;
        
}



i {

    color: variables.$secondary;
}

// HAMBURGER NAV STYLES
.hamburger {
    display: none;
}

// FORM STYLES

.boatForm {
    width: 100%;
    margin: 0 auto;

    button {
        width: 100%;
    }

    .formInputFlex {
        display: flex;
        margin-bottom: 20px;

        .inputFlex {
            display: flex;
            flex-direction: column;
            width: 100%;

            label {
                padding-left: 20px;

            }
        }
    }
}

.firstLastName {
    margin-right: 5px;

}

.emailAddress {
    margin-left: 5px;
    padding-left: 15px;
}

textarea {
    width: 100%;
}


// BUTTON STYLES

button {
    border: none;
    width: fit-content;
    margin-top: 20px;
    background: variables.$primary;
    color: variables.$secondary;
    font-family: 'IM Fell English', serif;
    line-height: 41.6px;
    text-transform: uppercase;
    padding: 0 10px;
}

footer {

    background: variables.$primary;
    padding: 5px 0;


    p {
        text-align: center;
    }
}