@use "./variables";

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

header {
    background-repeat: no-repeat;
    height: 85vh;
    background-size: cover;
    background-position: top;
    position: relative;
}

// nav {
//     padding-top: 40px;

//     ul {
//         display: flex;
//         flex-direction: row;
//     }
// }

i {
    background: variables.$primary;
    color: variables.$secondary;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}