@use "./variables";

header {
    background-image: url(../assets/home-header.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: top;


}

.headerFlex {
    display: flex;
    position: relative;
}

nav ul {
    display: flex;
    flex-direction: row;
}

.headerTextFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
}

.imgContainer {
    position: absolute;
}