@use "./variables";

// !!!!HOME CSS STYLES!!!! 

// HEADER STYLES

.headerHome {
    background-image: url(../assets/home-header.jpg);
}

.headerFlex {
    display: flex;

}

.headerFlex li {
    width: 50%;
}


.headerTextFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex-wrap: wrap;
    width: 50%;
    height: 80vh;
    margin-left: 70px;
}

// NAV STYLES

nav {
    padding-top: 75px;

    ul {
        display: flex;
        flex-direction: row;
    }
}

// IMG HEADER STYLES

.imgHeaderContainer img {
    position: absolute;
    width: 57vw;
    height: 80vh;
    top: 25vh;
    right: 0;
}