@use "./variables";

// !!!!HOME CSS STYLES!!!! 

// HEADER STYLES

.headerHome {
    background-image: url(../assets/home-header.jpg);


    .homeNavFlex {
        width: 50%;

        // border: 5px solid hotpink;



        .navWrapper {
            width: 65%;
            height: 90vh;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            // border: 5px solid blue;
        }
    }
}



// NAV STYLES

.navHome ul {
    display: flex;
    justify-content: space-between;
}

// IMG HEADER STYLES

.imgHeaderContainer img {
    position: absolute;
    width: 57vw;
    height: 80vh;
    top: 25vh;
    right: 0;
}