@use "./variables";

header {
    background-image: url(../assets/home-header.jpg);
    background-repeat: no-repeat;
    height: 85vh;
    background-size: cover;
    background-position: top;
    position: relative;
    border: 1px solid red;
}

.headerFlex {
    display: flex;

}

.headerFlex li {
    width: 50%;
}


.headerTextFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex-wrap: wrap;
    width: 40%;
    height: 80vh;


}

// .navFlex {
//     width: 50%;
// }

nav ul {
    display: flex;
    flex-direction: row;
}

.imgHeaderContainer img {
    position: absolute;
    width: 50vw;
    height: 80vh;
    top: 33vh;
    right: 0;
    // top: 250px;
    // align-items: right;
}