@use "./variables";

// !!!!HOME CSS STYLES!!!! 

// HEADER STYLES

.headerHome {
    background-image: url(../assets/home-header.jpg);
    height: 114vh;

    .navWrapper {

        padding-bottom: 75px;
    }
}

.navBar {
    padding-top: 75px;
}

// NAV STYLES

h1 {
    color: variables.$primary;
}

.imgHeaderContainer img {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: -24px;
}