@use "./variables";

@media (max-width: 1250px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.0rem;
    }

    .imgHeaderContainer img {
        position: absolute;
        width: 57vw;
        height: 60vh;
        top: 40vh;
        right: 0;
    }
}

@media (max-width: 1120px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.8rem;
    }
}