@use "./variables";

@media (max-width: 1250px) {
    // h1 {
    //     font-size: 3.5rem;
    // }

    h2 {
        font-size: 2.0rem;
    }
}

@media (max-width: 1120px) {
    // h1 {
    //     font-size: 3rem;
    // }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 884px) {

    header {
        height: 60vh;
    }

    .imgHeaderContainer img {
        display: none;
    }

    .navListFlex {
        width: 100%;

        .navWrapper {
            padding-bottom: 0;
            width: 100%;
            justify-content: flex-start;

            nav ul {
                justify-content: space-around;
            }
        }

    }

    h1 {
        align-self: center;
        padding-top: 183px;
    }
}