@use "./variables";

html {
    font-size: 125%;
}

h1 {
    font-family: 'IM Fell English', serif;
    font-size: 3.95rem;
    text-transform: uppercase;
    color: variables.$primary;
}

h2 {
    font-family: 'IM Fell English', serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: variables.$secondary;
}

h3 {
    font-family: 'IM Fell English', serif;
    font-size: 2.0rem;
    text-transform: uppercase;
    color: variables.$tertiary;
}

h4 {
    font-family: 'IM Fell English', serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: variables.$primary;
}



h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 50px;
}