html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

h1 {
  font-family: "IM Fell English", serif;
  font-size: clamp(0.9rem, 6vw, 4.5rem);
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-family: "IM Fell English", serif;
  font-size: clamp(0.8rem, 3vw, 2.25rem);
  text-transform: uppercase;
  color: #0D457F;
  line-height: 99.8px;
}

h3 {
  font-family: "IM Fell English", serif;
  font-size: clamp(0.8rem, 3vw, 2rem);
  text-transform: uppercase;
  color: #EAFEFC;
  line-height: 58px;
  letter-spacing: 1.3px;
}

h4 {
  font-family: "IM Fell English", serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #FDD908;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 28px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: 50px;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-repeat: no-repeat;
  height: 114vh;
  background-size: cover;
  background-position: top;
  position: relative;
}
header a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
}

.navListFlex {
  width: 100%;
  height: auto;
}
.navListFlex .navWrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navListFlex .navWrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bigHeader {
  text-align: center;
}

i {
  color: #0D457F;
}

.hamburger {
  display: none;
}

.boatForm {
  width: 100%;
  margin: 0 auto;
}
.boatForm button {
  width: 100%;
}
.boatForm .formInputFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.boatForm .formInputFlex .inputFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.boatForm .formInputFlex .inputFlex label {
  padding-left: 20px;
}

.firstLastName {
  margin-right: 5px;
}

.emailAddress {
  margin-left: 5px;
  padding-left: 15px;
}

textarea {
  width: 100%;
}

button {
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  background: #FDD908;
  color: #0D457F;
  font-family: "IM Fell English", serif;
  line-height: 41.6px;
  text-transform: uppercase;
  padding: 0 10px;
  cursor: pointer;
}

footer {
  background: #FDD908;
  padding: 5px 0;
}
footer p {
  text-align: center;
}

.headerMain {
  background-image: url(../assets/home-header.jpg);
  height: 114vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 190px;
}
.headerMain .navWrapper {
  padding-bottom: 75px;
}

.headerHome .navBar {
  padding-top: 75px;
}

h1 {
  color: #FDD908;
}

.imgHeaderContainer img {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: -24px;
}

.aboutContent {
  background: #EAFEFC;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 125px;
}
.aboutContent li {
  margin-left: 20px;
}
.aboutContent li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutContent li a i {
  background: #FDD908;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-top: 25px;
}
.aboutContent li h2 {
  margin-left: 20px;
}
.aboutContent li p {
  color: #000000;
  margin-left: 60px;
}

.destinations {
  margin-bottom: 40px;
}

.commune {
  margin-bottom: 40px;
}

i.destination {
  line-height: 2;
}

i.community {
  line-height: 2;
}

i.blog {
  line-height: 2;
}

i.contact {
  line-height: 2;
}

.aboutProgramLocations {
  background: #0D457F;
  padding: 0;
  width: 100%;
}

.aboutWrapper {
  width: 50%;
}

.ourProgram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.newLocations {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourProgramText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 0 100px 25px 100px;
  margin: 25px 0 25px 0;
}
.ourProgramText p {
  text-align: justify;
  color: #fff;
}

.newLocationsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 50%;
  padding: 25px 100px 0 100px;
  margin: 45px 0 50px 0;
}
.newLocationsText p {
  text-align: justify;
  color: #fff;
}

.topImage {
  width: 50%;
  position: relative;
}
.topImage img {
  -webkit-box-shadow: 15px 15px 1px #FDD908;
          box-shadow: 15px 15px 1px #FDD908;
  position: absolute;
  top: -25px;
  width: 95%;
}

.bottomImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
.bottomImage img {
  -webkit-box-shadow: -15px 15px 1px #FDD908;
          box-shadow: -15px 15px 1px #FDD908;
  position: absolute;
  bottom: -25px;
  width: 95%;
}

.aboutCommunity {
  background: #EAFEFC;
  padding: 125px 0 0 0;
}
.aboutCommunity .communityWrapper {
  width: 66.6666666667%;
  margin: 0 auto;
}

.vacationDays {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.vacationDays h4 {
  padding-bottom: 20px;
}

.aboutBannerImage {
  width: 100%;
  padding: 100px 0;
}
.aboutBannerImage img {
  width: 100%;
  margin: 0 auto;
}

.tripLifeTimeWrapper {
  width: 90%;
  margin: 0 auto;
}

.tripLifetime {
  background: #EAFEFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.tripLifetime .tripLifetimeImg {
  width: 25%;
  padding-top: 50px;
}
.tripLifetime .tripLifetimeImg img {
  -webkit-box-shadow: -15px 15px 1px #FDD908;
          box-shadow: -15px 15px 1px #FDD908;
}
.tripLifetime .tripLifetimeText {
  width: 75%;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutImageGallery {
  background: #0D457F;
}
.aboutImageGallery .galleryWrapper {
  width: 80%;
  margin: 0 auto;
}
.aboutImageGallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutImageGallery .galleryFlex li:nth-child(2) {
  margin: 75px 30px;
}
.aboutImageGallery .galleryFlex li {
  margin: 75px 0;
}

.headerBlog {
  background-image: url(../assets/blog-header.jpg);
}

.mainBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background: #EAFEFC;
}

.boatBlog {
  margin-left: 92px;
  position: relative;
  width: 75%;
}

.mainBlogImg {
  -webkit-box-shadow: -15px 15px 0px #FDD908;
          box-shadow: -15px 15px 0px #FDD908;
  position: absolute;
  top: -160px;
  left: 15px;
  z-index: 10;
}

.mainBlogText {
  border-bottom: 4px solid #FDD908;
  border-left: 4px solid #FDD908;
  padding: 500px 100px 80px;
}
.mainBlogText h2 {
  padding-top: 50px;
  padding-bottom: 25px;
}
.mainBlogText p {
  padding-bottom: 25px;
}

.asideBlog {
  margin-top: 80px;
  width: 33.3333333333%;
}

.asideImg img {
  background: #0D457F;
  -webkit-box-shadow: 15px 0px 0px #0D457F;
          box-shadow: 15px 0px 0px #0D457F;
}

.asideText {
  margin-left: 83px;
}
.asideText .asideTextMission {
  -webkit-box-shadow: 15px 0px 0px #0D457F;
          box-shadow: 15px 0px 0px #0D457F;
  background: #0D457F;
  padding: 30px 50px 40px 20px;
}
.asideText .asideTextMission h5 {
  padding-bottom: 10px;
}
.asideText .asideTextPosts {
  -webkit-box-shadow: 15px 0px 0px #0D457F;
          box-shadow: 15px 0px 0px #0D457F;
  background: #0D457F;
  padding: 40px 50px 30px 20px;
}
.asideText .asideTextPosts h5 {
  padding-bottom: 10px;
}
.asideText .asideTextPosts ul {
  list-style: inside;
}

.mainBlogComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EAFEFC;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0;
}
.mainBlogComments h3 {
  padding-bottom: 20px;
  color: #0D457F;
}

.blogWrapper {
  width: 64.5%;
  padding: 50px 75px;
}

.blogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}
.blogPost img {
  padding-right: 15px;
}
.blogPost h4 {
  text-transform: none;
  color: #0D457F;
}

.blogTextWrapper {
  width: 95%;
}
.blogTextWrapper h4 {
  padding-left: 10px;
  padding-bottom: 10px;
}
.blogTextWrapper p {
  padding-left: 10px;
}

.boatForm button {
  color: #FDD908;
  background: #0D457F;
}

.blogInput {
  border: 0;
  padding-left: 20px;
  background: #EAFEFC;
  border-bottom: 2px solid #FDD908;
}

.formBlog {
  height: 200px;
  padding-top: 30px;
  padding-left: 20px;
  background: #EAFEFC;
}

textarea {
  border: 2px solid #FDD908;
}

.headerContact {
  background-image: url(../assets/contact-header.jpg);
}

.contactMain {
  background: #EAFEFC;
  padding: 0;
  position: relative;
}

.contactInfo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactWrapper {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
}
.contactWrapper .contactSocialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}
.contactWrapper .contactSocialMedia li {
  padding-right: 22px;
}
.contactWrapper .contactEmail {
  padding-bottom: 20px;
}

.contactForm {
  width: 60%;
  padding: 40px;
  position: absolute;
  top: -115px;
  right: 5%;
  background: #0D457F;
}
.contactForm label {
  color: #fff;
}
.contactForm textarea {
  background: #0D457F;
  color: #fff;
}

.contactInput {
  border: 0;
  padding-left: 20px;
  background: #0D457F;
  border-bottom: 2px solid #FDD908;
  color: #fff;
}

.formContact {
  height: 200px;
  padding-top: 30px;
  padding-left: 20px;
}

@media (max-width: 1150px) {
  .headerMain {
    height: 75vh;
  }
  .topImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topImage img {
    top: -7.5px;
    width: 95%;
  }
  .bottomImage {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: relative;
  }
  .bottomImage img {
    -webkit-box-shadow: -15px 15px 1px #FDD908;
            box-shadow: -15px 15px 1px #FDD908;
    position: absolute;
    bottom: -7.5px;
    width: 95%;
  }
  .ourProgramText {
    margin-top: 12px;
    padding-left: 60px;
    padding-right: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newLocationsText {
    padding: 0px 60px 25px 60px;
    margin-top: 7px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boatBlog {
    margin-left: 42px;
  }
  .boatBlog .mainBlogText {
    padding: 289px 60px 30px;
  }
  button {
    border-radius: 10px;
    font-size: 0.8rem;
  }
  p {
    font-size: 0.9rem;
  }
}
@media (max-width: 1000px) {
  .aboutProgramLocations .ourProgramText {
    padding-left: 30px;
    padding-right: 30px;
  }
  .aboutProgramLocations .ourProgram .topImage img {
    width: 98%;
  }
  .aboutProgramLocations .newLocationsText {
    padding-left: 30px;
    padding-right: 30px;
  }
  .aboutProgramLocations .newLocations .bottomImage img {
    width: 98%;
    bottom: 7.5px;
  }
  .aboutCommunity {
    padding-top: 50px;
  }
  .tripLifetime .tripLifetimeImg {
    width: 45%;
  }
  .mainBlog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mainBlog .boatBlog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    position: inherit;
    margin-left: 0;
  }
  .mainBlog .boatBlog .mainBlogImg {
    position: inherit;
  }
  .mainBlog .boatBlog .mainBlogText {
    padding: 0px 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0px solid #FDD908;
    border-left: 0px solid #FDD908;
  }
  .asideBlog {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .asideBlog .asideText {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  .headerHamburger {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .headerMain {
    height: 40vh;
  }
  .imgHeaderContainer img {
    display: none;
  }
  .navListFlex {
    width: 100%;
  }
  .navListFlex .navWrapper {
    padding-bottom: 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navListFlex .navWrapper nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  h1 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .aboutContent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 0;
  }
  .aboutContent ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutContent ul li p {
    margin-left: 0;
  }
  .ourProgram {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ourProgram .topImage {
    width: 100%;
  }
  .ourProgram .topImage img {
    position: inherit;
    -webkit-box-shadow: 15px -15px 1px #fdd908;
            box-shadow: 15px -15px 1px #fdd908;
  }
  .ourProgram .ourProgramText {
    width: 100%;
  }
  .newLocations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .newLocations .bottomImage {
    width: 100%;
  }
  .newLocations .bottomImage img {
    position: inherit;
    -webkit-box-shadow: -15px 15px 1px #fdd908;
            box-shadow: -15px 15px 1px #fdd908;
  }
  .newLocations .newLocationsText {
    width: 100%;
  }
  .destinations, .commune {
    margin-bottom: 0;
  }
  .tripLifetime .tripLifetimeImg {
    width: 50%;
  }
  .tripLifetime .tripLifetimeImg img {
    width: 100%;
  }
  .tripLifetime .tripLifetimeText {
    padding-left: 30px;
  }
}
@media (max-width: 850px) {
  .tripLifetime {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tripLifetime .tripLifetimeText {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutCommunity .aboutBannerImage {
    padding: 50px 0;
  }
}
@media (max-width: 650px) {
  .navListFlex li a {
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  .navWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navWrapper .navBar {
    padding-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .navWrapper .navBar .navFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 15px 0;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: fixed;
    right: -100%;
    top: 50px;
    background: #0D457F;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.9;
    z-index: 20;
  }
  .navWrapper .navBar .navFlex.active {
    right: 0;
  }
  .navListFlex li a {
    font-size: 1rem;
  }
  .headerHamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #0D457F;
    padding: 0 20px;
    min-height: 50px;
    opacity: 0.9;
  }
  .headerHamburger .hamburger {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .headerHamburger .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .headerHamburger .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .headerHamburger .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .headerHamburger h1 {
    font-size: 1.15rem;
    padding-top: 0;
    color: #FDD908;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #FDD908;
  }
  .mainBlogImg {
    display: none;
  }
}