html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

h1 {
  font-size: 3.95rem;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  color: #FDD908;
}

h2 {
  color: #0D457F;
}

h3 {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: 50px;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-repeat: no-repeat;
  height: 85vh;
  background-size: cover;
  background-position: top;
  position: relative;
}

i {
  background: #FDD908;
  color: #0D457F;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
}

.headerHome {
  background-image: url(../assets/home-header.jpg);
}
.headerHome .homeNavFlex {
  width: 50%;
}
.headerHome .homeNavFlex .navWrapper {
  width: 65%;
  height: 90vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navHome ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imgHeaderContainer img {
  position: absolute;
  width: 57vw;
  height: 80vh;
  top: 25vh;
  right: 0;
}

.aboutContent {
  background: #EAFEFC;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 125px;
}
.aboutContent li {
  margin-left: 20px;
}
.aboutContent li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutContent li h2 {
  margin-left: 20px;
}
.aboutContent li p {
  color: #000000;
  margin-left: 60px;
}

.destinations {
  margin-bottom: 40px;
}

.commune {
  margin-bottom: 40px;
}

i.destination {
  line-height: 2;
}

i.community {
  line-height: 2;
}

i.blog {
  line-height: 2;
}

i.contact {
  line-height: 2;
}

.aboutProgramLocations {
  background: #0D457F;
  padding: 0;
  width: 100%;
}

.aboutWrapper {
  width: 50%;
}

.ourProgram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.newLocations {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourProgramText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 0 100px 0 50px;
  margin: 150px 0;
}
.ourProgramText p {
  text-align: justify;
}

.newLocationsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 50%;
  padding: 0 50px 0 100px;
  margin: 150px 0;
}
.newLocationsText p {
  text-align: justify;
}

.topImage {
  width: 50%;
  position: relative;
}
.topImage img {
  -webkit-box-shadow: 15px 15px 1px #FDD908;
          box-shadow: 15px 15px 1px #FDD908;
  position: absolute;
  bottom: 69px;
}

.bottomImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
.bottomImage img {
  -webkit-box-shadow: -15px 15px 1px #FDD908;
          box-shadow: -15px 15px 1px #FDD908;
  position: absolute;
  top: 69px;
}

button {
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
}

.aboutCommunity {
  background: #EAFEFC;
  padding: 125px 0 0 0;
}
.aboutCommunity .communityWrapper {
  width: 66.6666666667%;
  margin: 0 auto;
}

.vacationDays {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.vacationDays h4 {
  padding-bottom: 20px;
}

.aboutBannerImage {
  width: 100%;
  padding: 100px 0;
}
.aboutBannerImage img {
  width: 100%;
  margin: 0 auto;
}

.tripLifeTimeWrapper {
  width: 80%;
  margin: 0 auto;
}

.tripLifetime {
  background: #EAFEFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.tripLifetime .tripLifetimeImg {
  width: 25%;
}
.tripLifetime .tripLifetimeImg img {
  -webkit-box-shadow: -15px 15px 1px #FDD908;
          box-shadow: -15px 15px 1px #FDD908;
}
.tripLifetime .tripLifetimeText {
  width: 75%;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutImageGallery {
  background: #0D457F;
}
.aboutImageGallery .galleryWrapper {
  width: 80%;
  margin: 0 auto;
}
.aboutImageGallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutImageGallery .galleryFlex li:nth-child(2) {
  margin: 75px 30px;
}
.aboutImageGallery .galleryFlex li {
  margin: 75px 0;
}

footer {
  background: #FDD908;
  padding: 5px 0;
}
footer p {
  text-align: center;
}

.headerBlog {
  background-image: url(../assets/blog-header.jpg);
}
.headerBlog .blogNavFlex {
  width: 50%;
}
.headerBlog .blogNavFlex .navWrapper {
  width: 65%;
  height: 60vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navBlog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background: #EAFEFC;
}

.blog {
  margin-left: 92px;
  position: relative;
  width: 75%;
}

.mainBlogImg {
  -webkit-box-shadow: -15px 15px 0px #FDD908;
          box-shadow: -15px 15px 0px #FDD908;
  position: absolute;
  top: -160px;
  left: 15px;
}

.mainBlogText {
  border-bottom: 4px solid #FDD908;
  border-left: 4px solid #FDD908;
  padding: 500px 100px 80px;
}
.mainBlogText h2 {
  padding-top: 50px;
  padding-bottom: 25px;
}
.mainBlogText p {
  padding-bottom: 25px;
}

.asideBlog {
  margin-top: 80px;
  width: 33.3333333333%;
}

.asideImg img {
  background: #0D457F;
  -webkit-box-shadow: 15px 0px 0px #0D457F;
          box-shadow: 15px 0px 0px #0D457F;
}

.asideText {
  margin-left: 83px;
}
.asideText .asideTextMission {
  -webkit-box-shadow: 15px 0px 0px #0D457F;
          box-shadow: 15px 0px 0px #0D457F;
  background: #0D457F;
  padding: 30px 50px 40px 20px;
}
.asideText .asideTextMission h5 {
  padding-bottom: 10px;
}
.asideText .asideTextPosts {
  -webkit-box-shadow: 15px 0px 0px #0D457F;
          box-shadow: 15px 0px 0px #0D457F;
  background: #0D457F;
  padding: 40px 50px 30px 20px;
}
.asideText .asideTextPosts h5 {
  padding-bottom: 10px;
}
.asideText .asideTextPosts ul {
  list-style: inside;
}

.mainBlogComments {
  width: 75%;
  background: #EAFEFC;
}